body {
    margin: 0;
    overflow: hidden;
    text-align: center;
    background: gray;
}

#canvas {
    background: lightgray;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
